<p id="notice"><%= notice %></p>

<p>
  <strong>Num1:</strong>
  <%= @calculadora.num1 %>
</p>

<p>
  <strong>Num2:</strong>
  <%= @calculadora.num2 %>
</p>

<%= link_to 'Edit', edit_calculadora_path(@calculadora) %> |
<%= link_to 'Back', calculadoras_path %>
